@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  background: url("./assets/banner.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.banner02 {
  background: url("./assets/banner02.svg");
  background-color: #0BB049;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.banner03 {
  background: url("./assets/banner03.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.banner04 {
  background: url("./assets/banner04.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}


div {
  margin: 0;
}

// First section

.logo{
  position: absolute;
  top:0;
  left:50%;
  background-image: url("./assets/ebb-logo.png");
  background-position: center;
  background-size: 100% 100%;
  width:250px;
  height: 250px;
}

.hero-section {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content:flex-start;
  align-items: center;
  padding-left: 5%;



  .hero-left-span {
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
    width: 100%;
    overflow: hidden;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    .hero-desc {
      font-size: 2.5rem;
      font-weight: normal;
      text-align: center;
      margin-top: 3rem;
    }

    > span {
      display: block;
      overflow: hidden;
      &:nth-child(2) span{
        animation-delay: 300ms;
      }
      &:nth-child(3) span{
          animation-delay: 600ms;
      }
      &:nth-child(4) span{
        animation-delay: 900ms;
      }
      &:nth-child(5) span{
        animation-delay: 1200ms;
      }

    > span {
        display: block;
        animation: translateIn 0.5s ease forwards;
        transform: translateY(100%);
      }
  
    }
  }
  .badge_container {
    position: relative;
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 1.5s;
  }
}

.container {
position: relative;
}

.btn-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 70px;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  padding: 5px 10px;
  font-size: 26px;
  background-color: transparent;
  transition: all .5s ease;
  overflow: hidden;

  &:hover {
    background-color: white;
    color: black  ;
    cursor: pointer;
  }

  }

  .android_qr {
    background-image: url('./assets/android_QR.jpg');
  }

  .ios_qr {
    background-image: url('./assets/ios_QR.jpg');
  }

  .logo_ios {
    background-image: url('./assets/apple-fill_white.png');
    background-size: 100% 100%;
    background-position: center;
    width: 25px;
    height: 25px;  
  }
  
  .logo_android {
    background-image: url('./assets/android-fill_white.png');
    background-size: 100% 100%;
    background-position: center;
    width: 25px;
    height: 25px;  
  }

  .logo_transition {

    transition: all .5s ease;
  }

  .btn-wrapper:hover .logo_ios{
    background-image: url('./assets/apple-fill.png');
  }
  
  .btn-wrapper:hover .logo_android{
    background-image: url('./assets/android-fill.png');
  }
  
  
  .modal {
    position: absolute;
    background-color: white;
    top: -260px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 250px;
    border-radius: 10px;
  }

  .visible {
    visibility: visible;
  }
  
  .logo_ios_modal {
    background-image: url('./assets/apple-fill.png');
    background-size: 100% 100%;
    background-position: center;
    width: 20px;
    height: 20px;  
  }
  
  .logo_android_modal {
    background-image: url('./assets/android-fill.png');
    background-size: 100% 100%;
    background-position: center;
    width: 20px;
    height: 20px;  
  }
  
  .qr_android {
    background-image: url('./assets/android_QR.jpg');
    background-size: 100% 100%;
    background-position: center;
    width: 150px;
    height: 150px;
  }

    .qr_ios {
    background-image: url('./assets/ios_QR.jpg');
    background-size: 100% 100%;
    background-position: center;
    width: 150px;
    height: 150px;
  }
  
  .android-line, .ios-line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap:10px;
    border-radius: 20px;
    padding: 10px;
    width:125px;
    span{
      color: black;
      text-shadow: none;
    }
  
    &:hover {
      cursor: pointer;
    }
  
  }
  
  .active {
    border-radius: 50px;
    background-color: rgb(212, 212, 212);
  }
  
  
  
  .android-line:active .qr{
    background-image: url('./assets/android_QR.jpg');
  }
  
  .ios-line:active .qr{
    background-image: url('./assets/ios_QR.jpg');
  }
  



.hero-right
{
  flex: 1;
  animation: scaleIn 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-img-container {
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .hero-img {
    background-image: url("./assets/ebb8.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 55%;
    height: 55%;
    // background-color: green;
    animation: moveY 5s linear infinite;
  }
@keyframes moveY {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
  
}

}


// 3nd section DATA
.data-section {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  /* background: #0bb049; */
  color: white;
}


.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(16px + 20px + 30px);
  text-align: center;
}

.section-data-container {
  flex: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.data-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 175px;
  width: 175px;
  gap: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size:2.5rem;
  }
}


// 4tn section CLUB

.coach-section {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.coach-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;

 
  .coach-left-text {
    position: relative;
    display: flex;
    flex:2.5;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap:2.5rem;
    overflow: hidden;
    color: white;
    font-weight: bold;
    padding-left : 10rem;

    .title {
      font-size: 4rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    }

    .desc {
      display: flex ;
      flex-direction: row;
      position: relative;
      font-size: 2.5rem;
      height: auto;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }


  }

  .words-container {
    position: relative;
    width: 330px;
    overflow: hidden;
    white-space: nowrap;
    left : 10px;
    height: 50px;

    .words{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0px;
      font-size: 40px;
      gap:10px;
      animation: moveTop 12s ease-in-out infinite;
      color: #0BB049;
      background-color: white;
      padding: 0px 0px 5px 10px;
      // overflow: hidden;
      text-shadow: none
    }

  }


}
@keyframes moveTop {
  0% {
    top: 0px;
    width: 0;
  }
  5.55% {
    top: 0;
    width: 0;
  }
  11.11% {
    top: 0;
    width: 320px;
  }
  16.66% {
    top: 0;
    width: 320px;
  }
  22.22% {
    top: 0;
    width: 0;
  }
  27.77% {
    top: 0;
    width: 0;
  }
  33.33% {
    top: -56px;
    width: 0;
  }
  38.88% {
    top: -56px;
    width: 300px;
  }
  44.44% {
    top: -56px;
    width: 300px;
  }
  50% {
    top: -56px;
    width: 0;
  }
  55.55% {
    top: -113px;
    width: 0;
  }
  61.11% {
    top: -113px;
    width: 350px;
  }
  66.66% {
    top: -113px;
    width: 350px;
  }
  72.22% {
    top: -113px;
    width: 0;
  }
  77.77% {
    top: -170px;
    width: 0;
  }
  83.33% {
    top: -170px;
    width: 330px;
  }
  88.88% {
    top: -170px;
    width: 330px;
  }
  94.44% {
    top: -170px;
    width: 0;
  }
  100% {
    top: 0;
    width: 0;
  }
}

.coach-img-container
{
  display: flex;
  flex: 1;
  justify-content: start;
  align-items: center;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1.5s;
  opacity: 0;


  .coach-img {
    width: 65%;
    height: auto;
    padding-left: 50px;
    animation: moveY 5s linear infinite;

    }
}

// Form

.form-section {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.form-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  gap: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  .form-left-text {

    display: flex;
    justify-content: center;
    color: white;
    padding-left : 10rem;
  
    .title {
      font-size: 4rem;
      color: white 
    }
  }

  .coach-left-photo {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
    background-image: url('./assets/photo.jpg');
    background-size: 100% 100%;
    background-position: center;
  }
}


.form-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;

  .form {
    width: 100%;
  }
  .form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    input {
      height: 2.5rem;
      width: 45%;
      font-size: 1.2rem;

      border-radius: 10px;
      border-color: white;
      padding: 1rem;
      box-shadow: 7px 10px 20px 10px #0003;
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 7px 10px 20px 10px #0003,
        7px 10px 20px 10px #0003;
      }
    }
    
  }

  .form-textarea {
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;

    textarea {
      width: 100%;
      height: 100%;
      font-size: 1.2rem;
      border-radius: 10px;
      padding: 1rem;
      box-shadow: 7px 10px 20px 10px #0003;
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 7px 10px 20px 10px #0003,
        7px 10px 20px 10px #0003;
      }
    }
  }

  .buttonContainer{
    button {
      width: 100%;
      height: 50px;
      font-size: 1.5rem;
      color: #0BB049;
      font-weight: 600;
      border-radius: 10px;
      border: none;
      box-shadow: 7px 10px 20px 10px #0003;
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 7px 10px 20px 10px #0003,
        7px 10px 20px 10px #0003;
      }
    }
  }


}

.section,
.section-reverse {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 0 5%;
}

.section-reverse {
  flex-direction: row-reverse;
}

.section {
  color: white;
  /* background: linear-gradient(to bottom, #0bb049, white);
  border-bottom-right-radius: 100% 50%; */
}

.section-reverse {
  color: #0bb049;
  /* background-color: white; */
}

.section-sub,
.section-sub-reverse {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.section-sub-reverse {
  align-items: start;
}

.section-sub {
  align-items: end;
}




.section-text,
.section-text-reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  font-family: Arial, Helvetica, sans-serif;
  gap: 1rem
}

.section-text-reverse {
  text-align: right;
}

.section-img,
.section-img-reverse {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

}

.section-img-reverse {
  justify-content: center;
}


.img-wrapper-reverse {
  width: 60%;
  height: auto;
}

.img-wrapper {
  width: 60%;
  height: auto;
  padding-left: 50px;
}


.section-title {
  font-weight: bold;
  font-size: 60px;
}

.section-desc {
  font-size: 35px;
}

.img {
  margin-left: -10px;
}

.img:hover {
  cursor: pointer;
}


.btn {
  display: flex;
  justify-content: center;
  align-content: flex-start;
}

.translateLeft {
  animation: slideInFromLeft 1s;
  animation-timing-function: ease;
}

.translateRight {
  animation: slideInFromRight 1s;
  animation-timing-function: ease;
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-40%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(40%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.features {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  /* background: #0bb049; */
  color: white;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
}

.desc {
  font-size: 25px;
}

.section-card {
  flex: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 0 50px;
  padding: 10px;
  color: black;
  border-radius: 10px;
  font-size: 25px;
  text-align: center;
  height: 175px;
  width: 175px;
}

.card-img {
  width: 70%;
  height: auto;
}

.download {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: white;
  color: #0bb049;
}

.download-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dwl_badge_container {
  flex:1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  // opacity: 0;
  // animation: fadeIn 1s ease forwards;
  // animation-delay: 1.5s;

  .badge_android{
    background-image: url("./assets/Google_play_badge.png");
    width: 250px;
    height: 90px;
    background-size: 100% 100%;
    background-position: center;
    transition: transform 0.5s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }

  }
  
  .badge_ios{
    background-image: url("./assets/IOS_badge.png");
    width: 250px;
    height: 90px;
    background-size: 100% 100%;
    background-position: center;
    transition: transform 0.5s ease;
    
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

}

.download-img {
  flex:2;
  display: flex;
  justify-content: center;
}

.img2 {
  align-self: center;
  width: 35%;
  height: auto;
}


.footer {
  /* background-color: #0bb049; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
  font-size: 30px;
  height: 200px;
  gap: 10px

}

.wave {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 123px;
}

.wave .shape-fill {
    fill: #0BB049;
}



@media (max-width: 800px) {


  .logo{
    position: relative;
    width:125px;
    height: 125px;
    left: 38%;
  }
  
  .hero-section {
    display: flex;
    flex-direction: column;
    // padding-top: 125px;
  }
  
  .hero-left {
 
    .hero-left-span {
      font-size: 2rem;
  
      .hero-desc {
        font-size: 1.5rem;
        margin-top: 0rem;

      }
  
    }
    .badge_container {
      display: none;

    }
  }
  
  .btn-wrapper {
    display: none;
    }
  
  .hero-right
  {  
    flex: 1;
  
    .hero-img-container {
      height: 50vh;
    }
  
    .hero-img {
      background-image: url("./assets/ebb8.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      width: 65%;
      height: 65%;
  
      animation: none;
    }

  
  }
  
  
  // 3nd section DATA
  
  
  .section-data-container {
    flex-direction: column;
  }
  
  .data-card {
    justify-content: center;

  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size:2rem;
    }
  }
  
  
  // 4tn section CLUB
  
  .coach-section {
    flex-direction: column;
  }
  
  .coach-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
  
   
    .coach-left-text {
      flex:2.5;
      justify-content: center;
      align-items: center;
      gap:2rem;
      padding-left : 0rem;

      .title {
        font-size: 2rem;
        text-align: center;
      }
  
      .desc {
        font-size: 1.8rem;
      }
    }
  
    .words-container {
      position: relative;
      width: 250px;
      // overflow: hidden;
      white-space: nowrap;
      left : 10px;
      height: 40px;
  
      .words{
        font-size: 30px;
      }

      @keyframes moveTop {
        0% {
          top: 0px;
          width: 0;
        }
        5.55% {
          top: 0;
          width: 0;
        }
        11.11% {
          top: 0;
          width: 320px;
        }
        16.66% {
          top: 0;
          width: 320px;
        }
        22.22% {
          top: 0;
          width: 0;
        }
        27.77% {
          top: 0;
          width: 0;
        }
        33.33% {
          top: -40px;
          width: 0;
        }
        38.88% {
          top: -40px;
          width: 300px;
        }
        44.44% {
          top: -40px;
          width: 300px;
        }
        50% {
          top: -40px;
          width: 0;
        }
        55.55% {
          top: -87px;
          width: 0;
        }
        61.11% {
          top: -87px;
          width: 350px;
        }
        66.66% {
          top: -87px;
          width: 350px;
        }
        72.22% {
          top: -87px;
          width: 0;
        }
        77.77% {
          top: -130px;
          width: 0;
        }
        83.33% {
          top: -130px;
          width: 330px;
        }
        88.88% {
          top: -130px;
          width: 330px;
        }
        94.44% {
          top: -130px;
          width: 0;
        }
        100% {
          top: 0;
          width: 0;
        }
      }
    }
  }
  
  .coach-img-container
  {
    justify-content: center;
  
    .coach-img {
      width: 85%;
      }
  }
  
  // Form
  
  .form-section {
    flex-direction: column;
  }
  
  .form-left {
    padding: 0 1rem;

    .form-left-text {
    padding-left : 0rem;

      .title {
        font-size: 1.8rem;
        text-align: center;
      }
    }
  }

  .form-right {
    .buttonContainer{
      button {
        font-size: 1.2rem;
      }
    }
  }



  // SectionWrapper

  .section,
  .section-reverse {
  flex-direction: column;
  padding: 0 0%;

  }
  .section-sub-reverse {
    align-items: center;
  }
  
  .section-sub {
    align-items: center;
  }
  
    
  .section-text,
  .section-text-reverse {

    gap: 1rem
  }
  
  .section-text-reverse {
    text-align: center;
  }

  
  
  .img-wrapper-reverse {
    width: 60%;
    height: auto;
  }
  
  .img-wrapper {
    width: 60%;
    height: auto;
    padding-left: 0px;
  }
  
  
  .section-title {
    font-weight: bold;
    font-size: 30px;
  }
  
  .section-desc {
    font-size: 25px;
  }
  
  .img {
    margin-left: -10px;
  }
  
  .img:hover {
    cursor: pointer;
  }
  
  
  .btn {
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }
  
  
  .card-img {
    width: 70%;
    height: auto;
  }
  
  .dwl_badge_container {
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    // opacity: 0;
    // animation: fadeIn 1s ease forwards;
    // animation-delay: 1.5s;
  
    .badge_android{
      width: 175px;
      height: 60px;
    }
    
    .badge_ios{
      width: 175px;
      height: 60px;
    }
  }
  
  .text {
    font-size:  20px;
  }
  
  .dwl_badge_container {
    flex-direction: column;

  }
  
  .img2 {
    align-self: center;
    width: 65%;
    height: auto;
  }


  .footer {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 18px;
  }
}


@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}



@keyframes translateIn {
  from {
    transform: translateY(100%);

  }

  to{
    transform: translateY(0%);
  }
  
}

@keyframes fadeIn {
  from {
    opacity : 0;
  }

  to{
    opacity : 1;
  }
}

@keyframes scaleIn {
  from {
    opacity : 0;
    transform: scale(2);
  }

  to{
    opacity : 1;
    transform: scale(1);
  }
}

